# Tipos de datos

In [1]:
mi_variable = "Hola"
mi_otra_variable = 23
mi_varaible_nueva = 298.12345465656
mi_variable_bool = True

In [3]:
print(type(mi_variable))
print(type(mi_otra_variable))
print(type(mi_varaible_nueva))
print(type(mi_variable_bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Sentencias de Control

In [36]:
variable_uno = 3
variable_dos = 3

In [37]:
if variable_uno is variable_dos:
    print("Es lo mismo")
else:
    print("No es lo mismos")
#IS checa valo y tipo
# == solo checa valos

Es lo mismo

In [44]:
variable_tres = 3
if  not variable_uno == variable_dos and variable_tres == 3:
    print("No son el mismo")
elif variable_uno == variable_dos:
    print("Variable uno y dos son lo mismo")

Variable uno y dos son lo mismo

In [45]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [47]:
numero = 0
while numero < 11 :
    print(numero)
    numero +=1

0
1
2
3
4
5
6
7
8
9
10

In [49]:
print("Float numero: "+str(2.3))

Float numero: 2.3

In [50]:
variable_1 = "a"
variable_2 = 2
print(variable_1*variable_2)

aa

In [51]:
variable_string = "Hola mi nombre es %s y tengo %s"  % ("Edwin",24)
print(variable_string)

Hola mi nombre es Edwin y tengo 24

In [53]:
variable_string = "Hola mi nombre es {0} y tengo {1}".format("Edwin",24)
print(variable_string)

Hola mi nombre es Edwin y tengo 24

In [54]:
variable_seis = 8
sentencia = "Soy un siete" if variable_seis == 7 else "No soy un siete"
print(sentencia)

No soy un siete

# Listas , Diccionarios y Tuplas

In [55]:
mi_lista = [1,2,3,4,5,6,7]
mi_tupla = ("Lunes","Martes","Miercoles","Jueves","Viernes")
mi_diccionario = {"nombre":"Edwin","apellidos":"Salgado","edad":24,"hobies":["Jugar","Comer"]}

In [56]:
2 in mi_lista

True

In [57]:
"Luisito" in "Hola soy pedrito"

False

In [62]:
mi_lista.append(7)
print(mi_lista)

[1, 2, 3, 4, 5, 6, 7]

In [63]:
mi_lista.pop()
print(mi_lista)

[1, 2, 3, 4, 5, 6]

In [64]:
mi_lista[1]

2

In [66]:
mi_lista[2::2]

[3, 5]

In [67]:
mi_lista

[1, 2, 3, 4, 5, 6]

In [68]:
id(mi_lista)

4406996936

In [70]:
id(mi_lista[2::2].append(6))

4297223216

In [71]:
mi_lista[::-1]

[6, 5, 4, 3, 2, 1]

In [72]:
mi_lista

[1, 2, 3, 4, 5, 6]

In [74]:
mi_reverse_lista = mi_lista[::-1]

In [75]:
mi_reverse_lista

[6, 5, 4, 3, 2, 1]

In [76]:
mi_lista

[1, 2, 3, 4, 5, 6]

In [77]:
mi_otra_lista = mi_lista + mi_reverse_lista

In [78]:
mi_otra_lista

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1]

In [79]:
mi_lista[2] = 9

In [80]:
mi_lista

[1, 2, 9, 4, 5, 6]

In [83]:
mi_nueva_lista = list(range(1,9))

In [84]:
mi_nueva_lista

[1, 2, 3, 4, 5, 6, 7, 8]

## Tuplas

In [85]:
mi_tupla

('Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes')

In [86]:
mi_tupla[2]

'Miercoles'

In [87]:
mi_tupla.append("Sabado")

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
mi_tupla[4] = "Sabado"

TypeError: 'tuple' object does not support item assignment

In [89]:
mi_weekend_tupla = ("Sabado","Domingo")

In [90]:
mi_week_tupla = mi_tupla+mi_weekend_tupla
print(mi_week_tupla)

('Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo')

In [93]:
sabado,domingo = mi_weekend_tupla
print(sabado)

Sabado

In [96]:
sabado ="Bonito "+sabado
print(sabado)
print(mi_weekend_tupla)

Bonito Bonito Bonito Sabado
('Sabado', 'Domingo')

In [98]:
name_tupla = (("Nombre","Edwin"),("Edad",23))

In [101]:
dic_tupla = dict(name_tupla)
print(dic_tupla)

{'Nombre': 'Edwin', 'Edad': 23}

In [103]:
mi_week_tupla,mi_tupla = mi_tupla,mi_week_tupla

In [104]:
mi_tupla

('Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo')

In [105]:
mi_week_tupla

('Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes')

## Diccionarios

In [107]:
mi_nuevo_dic = dict([("Nombre","Edwin"),("Edad",24)])
print(mi_nuevo_dic)

{'Nombre': 'Edwin', 'Edad': 24}

In [108]:
mi_nuevo_dic["Edad"]

24

In [110]:
try:
    gustos = mi_nuevo_dic["gustos"]
    print(gustos)
except:
    print("El usuario no tiene gustos")

El usuario no tiene gustos

In [111]:
gustos = mi_nuevo_dic.get("gustos","No hay gustos")
print(gustos)

No hay gustos

In [115]:
dic_gustos = {"gustos":["Jugar","Cocinar","Leer"]}
mi_nuevo_dic.update(dic_gustos)
print(mi_nuevo_dic)

{'Nombre': 'Edwin', 'Edad': 24, 'gustos': ['Jugar', 'Cocinar', 'Leer']}

In [117]:
for k,v in mi_nuevo_dic.items():
    print("la llave es {0} y el valor es  {1}".format(k,v))

la llave es Nombre y el valor es  Edwin
la llave es Edad y el valor es  24
la llave es gustos y el valor es  ['Jugar', 'Cocinar', 'Leer']

In [118]:
mi_nuevo_dic.items()

dict_items([('Nombre', 'Edwin'), ('Edad', 24), ('gustos', ['Jugar', 'Cocinar', 'Leer'])])